= render 'uploads/file', record: @upload

- form = Admin::Upload::ApprovalForm.new(@upload)
= form_with model: form, url: form.to_url do |f|
  .flex
    .w-full
      = label_tag :title, t('.title'), required: f.object.title_required?, class: 'block text-xs'
      = text_field_tag :title, nil, class: 'border border-gray-500'
  .flex.my-4
    .w-full
      = submit_tag t('.approve'), class: 'button button-red'

= link_to t('general.back'), admin_uploads_path
