- number_to_review = Upload.for_review.count

- if number_to_review.positive?
  %p.my-10.border-red-500.border.p-4
    There is
    = pluralize(number_to_review, "upload")
    to be reviewed.
    = link_to 'Show', admin_uploads_path(display: 'review')

%h2.text-xl Approved

- if records.any?
  %table
    %thead
      %tr
        %th{ style: 'width: 50%;' } File
        %th{ style: 'width: 25%;' } Approved at
        %th{ style: 'width: 25%;' }
    %tbody
      - records.each do |record|
        %tr
          %td
            = render 'uploads/file', record: record
          %td
            = record.approved_at
          %td
            = render 'deletion_form', record: record

- else
  none
