%h1= t('.contribution', count: 2)

- number_to_review = Upload.for_review.count

- if number_to_review.positive?
  %p.my-10.border-red-500.border.p-4
    = t('.ready_to_review', count: number_to_review)

- if @records.any?
  - @records.each do |record|
    .border-b.py-16
      .flex.text-center
        .w-full
          = render 'uploads/file', record: record, thumbnail: true
        .w-full
          .mb-4
            - if record.for_review?
              = link_to t('.approve'),
                        new_admin_upload_approval_path(record),
                        class: 'button button-red'
              / = render 'approval_form', record: record
            - else
              = t('.approved_at')
              = record.approved_at
          .mt-4
            = render 'deletion_form', record: record

- else
  none
