- publishable_count = Upload.publishable.count

- if publishable_count.positive?
  %p.my-10.border-red-500.border.p-4
    = t('.publishable_contributions', count: publishable_count)

%h1= t('.contribution', count: 2)

- if @records.any?
  - @records.each do |record|
    .flex.border.border-gray-300.my-16.bg-gray-100
      .w-full
        .w-full.text-center.mb-2
          - if record.publishable?
            = link_to t('.publishable'),
                      edit_admin_upload_path(record),
                      class: 'py-1 bg-yellow-600 block w-full text-white hover:text-white hover:bg-yellow-500'
          - else
            .py-1.bg-green-600.block.w-full.text-white
              = t('.published')

        .flex
          %div{ class: 'w-1/6' }
            = render 'uploads/file', record: record, image_size: :thumbnail
          .w-auto.px-4.pt-1
            .flex
              .w-full
                .mb-4
                  .tracking-wide.uppercase.text-red-400.text-xs= Upload.human_attribute_name(:title)
                  = record.title
                .mb-4
                  .tracking-wide.uppercase.text-red-400.text-xs= Upload.human_attribute_name(:comment)
                  = record.comment
                - if record.published_at.present?
                  .mb-4
                    .tracking-wide.uppercase.text-red-400.text-xs= Upload.human_attribute_name(:published_at)
                    = record.published_at
        .flex
          %div{ class: 'w-1/6' }
          .w-auto.px-4.pb-1
            = link_to t('general.edit'),
                      edit_admin_upload_path(record),
                      class: 'py-1 inline-block'

            = link_to t('general.delete'),
                      admin_upload_path(record),
                      method: :delete,
                      class: 'ml-6 py-1 text-gray-600'


- else
  none
