!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Saab 900 ADMIN
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", 'application', "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    .flex.flex-col.max-w-6xl
      .m-4.flex.justify-between
        .text-xl.text-red-800.border-b.mb-8 Saab 900 Admin
        - if admin_signed_in?
          = button_to t('general.sign_out'),
                      admin_session_path,
                      method: :delete,
                      class: 'link text-sm'

      .m-4.flex.flex-col.gap-y-4
        - if flash.any?
          - flash.each do |key, message|
            .flash{ class: "flash-#{key}" }= message

        = yield
