!!!
%html{ lang: 'de', class: 'saab900' }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "German", :name => "Language"}
    %title Saab 900
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
  %body{ class: 'saab900 ml-auto mr-auto' }
    .main.bg-white
      .mb-16
        %h1.bg-red-800.text-white.text-right.py-4.px-4.tracking-widest.text-xl
          Saab 900

      .mb-16
        = yield

    %footer.footer.bg-red-200.px-4.py-8.tracking-wide.text-red-900
      = t('footer').html_safe
