!!!
%html{ lang: 'de' }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "German", :name => "Language"}
    %title Saab 900
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", 'application', "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    .saab900
      %main.bg-white
        .mb-16
          %h1.bg-red-800.text-white.text-right.py-4.px-4.tracking-widest.text-xl
            Saab 900

        .mb-16
          = yield

      %footer.footer.bg-red-200.px-4.py-8.tracking-wide.text-red-900
        .text
          = t('footer').html_safe
        .location.text-center.text-xs.mt-10
          .icon--map.h-8.bg-center.mb-2
          = link_to '47.3938250, 8.0445262', 'https://osm.org/go/0CeelcEIu--?node=3927147277', target: '_blank', rel: 'noopener noreferrer'
